/*** Start css of #_lp_block_29572506[data-block-layout='90651'] .lp-block-bg ***/
#_lp_block_29572506[data-block-layout='90651'] .lp-block-bg {
	background-attachment: scroll;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: transparent;
}
/*** End css of #_lp_block_29572506[data-block-layout='90651'] .lp-block-bg ***/
/*** Start css of #_lp_block_29572506[data-block-layout='90651'] .lp-block-overlay ***/
#_lp_block_29572506[data-block-layout='90651'] .lp-block-overlay {
	background-attachment: scroll;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: rgba(68,68,68,0.05);
}
/*** End css of #_lp_block_29572506[data-block-layout='90651'] .lp-block-overlay ***/
/*** Start css of #_lp_block_29572506[data-block-layout='90651'] .lpc-prods-7__text ***/
#_lp_block_29572506[data-block-layout='90651'] .lpc-prods-7__text {
	color: rgba(19,18,18,0.7);
	font-size: 40px;
	text-align: center;
	text-align-last: center;
	font-weight: 400;
	text-decoration: none;
	line-height: 150%;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
/*** End css of #_lp_block_29572506[data-block-layout='90651'] .lpc-prods-7__text ***//*** Start css of #_lp_block_29572506[data-block-layout='90651'] .lpc-prods-7__content ***/
#_lp_block_29572506[data-block-layout='90651'] .lpc-prods-7__content {
	box-shadow: 0 0 25px 12px rgba(204,204,204,1);
}
/*** End css of #_lp_block_29572506[data-block-layout='90651'] .lpc-prods-7__content ***//*** Start css of #_lp_block_29593506[data-block-layout='90651'] .lp-block-bg ***/
#_lp_block_29593506[data-block-layout='90651'] .lp-block-bg {
	background-attachment: scroll;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: transparent;
}
/*** End css of #_lp_block_29593506[data-block-layout='90651'] .lp-block-bg ***/
/*** Start css of #_lp_block_29593506[data-block-layout='90651'] .lp-block-overlay ***/
#_lp_block_29593506[data-block-layout='90651'] .lp-block-overlay {
	background-attachment: scroll;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: rgba(68,68,68,0.05);
}
/*** End css of #_lp_block_29593506[data-block-layout='90651'] .lp-block-overlay ***/
/*** Start css of #_lp_block_29593506[data-block-layout='90651'] .lpc-prods-7__text ***/
#_lp_block_29593506[data-block-layout='90651'] .lpc-prods-7__text {
	color: rgba(19,18,18,0.7);
	font-size: 40px;
	text-align: center;
	text-align-last: center;
	font-weight: 400;
	text-decoration: none;
	line-height: 150%;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
/*** End css of #_lp_block_29593506[data-block-layout='90651'] .lpc-prods-7__text ***/
/*** Start css of #_lp_block_29593506[data-block-layout='90651'] .lpc-prods-7__content ***/
#_lp_block_29593506[data-block-layout='90651'] .lpc-prods-7__content {
	box-shadow: 0 0 25px 12px rgba(204,204,204,1);
}
/*** End css of #_lp_block_29593506[data-block-layout='90651'] .lpc-prods-7__content ***/
/*** Start css of #_lp_block_29598106[data-block-layout='90651'] .lp-block-bg ***/
#_lp_block_29598106[data-block-layout='90651'] .lp-block-bg {
	background-attachment: scroll;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: transparent;
}
/*** End css of #_lp_block_29598106[data-block-layout='90651'] .lp-block-bg ***/
/*** Start css of #_lp_block_29598106[data-block-layout='90651'] .lp-block-overlay ***/
#_lp_block_29598106[data-block-layout='90651'] .lp-block-overlay {
	background-attachment: scroll;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: rgba(68,68,68,0.05);
}
/*** End css of #_lp_block_29598106[data-block-layout='90651'] .lp-block-overlay ***/
/*** Start css of #_lp_block_29598106[data-block-layout='90651'] .lpc-prods-7__text ***/
#_lp_block_29598106[data-block-layout='90651'] .lpc-prods-7__text {
	color: rgba(19,18,18,0.7);
	font-size: 40px;
	text-align: center;
	text-align-last: center;
	font-weight: 400;
	text-decoration: none;
	line-height: 150%;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
/*** End css of #_lp_block_29598106[data-block-layout='90651'] .lpc-prods-7__text ***/
/*** Start css of #_lp_block_29598106[data-block-layout='90651'] .lpc-prods-7__content ***/
#_lp_block_29598106[data-block-layout='90651'] .lpc-prods-7__content {
	box-shadow: 0 0 25px 12px rgba(204,204,204,1);
}
/*** End css of #_lp_block_29598106[data-block-layout='90651'] .lpc-prods-7__content ***/
/*** Start css of #_lp_block_29600506[data-block-layout='90651'] .lp-block-bg ***/
#_lp_block_29600506[data-block-layout='90651'] .lp-block-bg {
	background-attachment: scroll;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: transparent;
}
/*** End css of #_lp_block_29600506[data-block-layout='90651'] .lp-block-bg ***//*** Start css of #_lp_block_29600506[data-block-layout='90651'] .lp-block-overlay ***/
#_lp_block_29600506[data-block-layout='90651'] .lp-block-overlay {
	background-attachment: scroll;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: rgba(68,68,68,0.05);
}
/*** End css of #_lp_block_29600506[data-block-layout='90651'] .lp-block-overlay ***//*** Start css of #_lp_block_29600506[data-block-layout='90651'] .lpc-prods-7__text ***/
#_lp_block_29600506[data-block-layout='90651'] .lpc-prods-7__text {
	color: rgba(19,18,18,0.7);
	font-size: 40px;
	text-align: center;
	text-align-last: center;
	font-weight: 400;
	text-decoration: none;
	line-height: 150%;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
/*** End css of #_lp_block_29600506[data-block-layout='90651'] .lpc-prods-7__text ***/
/*** Start css of #_lp_block_29600506[data-block-layout='90651'] .lpc-prods-7__content ***/
#_lp_block_29600506[data-block-layout='90651'] .lpc-prods-7__content {
	box-shadow: 0 0 25px 12px rgba(204,204,204,1);
}
/*** End css of #_lp_block_29600506[data-block-layout='90651'] .lpc-prods-7__content ***//*** Start css of #_lp_block_29618706[data-block-layout='90651'] .lp-block-bg ***/

#_lp_block_29618706[data-block-layout='90651'] .lp-block-bg {
	background-attachment: scroll;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: transparent;
}

/*** End css of #_lp_block_29618706[data-block-layout='90651'] .lp-block-bg ***/
/*** Start css of #_lp_block_29618706[data-block-layout='90651'] .lp-block-overlay ***/

#_lp_block_29618706[data-block-layout='90651'] .lp-block-overlay {
	background-attachment: scroll;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,1);
}

/*** End css of #_lp_block_29618706[data-block-layout='90651'] .lp-block-overlay ***/
/*** Start css of #_lp_block_29618706[data-block-layout='90651'] .lpc-prods-7__text ***/
#_lp_block_29618706[data-block-layout='90651'] .lpc-prods-7__text {
	color: rgba(19,18,18,0.7);
	font-size: 40px;
	text-align: center;
	text-align-last: center;
	font-weight: 400;
	text-decoration: none;
	line-height: 150%;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
/*** End css of #_lp_block_29618706[data-block-layout='90651'] .lpc-prods-7__text ***/
/*** Start css of #_lp_block_29618706[data-block-layout='90651'] .lpc-prods-7__content ***/
#_lp_block_29618706[data-block-layout='90651'] .lpc-prods-7__content {
	box-shadow: 0 0 25px 12px rgba(204,204,204,1);
}
/*** End css of #_lp_block_29618706[data-block-layout='90651'] .lpc-prods-7__content ***//*** Start css of #_lp_block_29622506[data-block-layout='90651'] .lp-block-bg ***/
#_lp_block_29622506[data-block-layout='90651'] .lp-block-bg {
	background-attachment: scroll;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: transparent;
}
/*** End css of #_lp_block_29622506[data-block-layout='90651'] .lp-block-bg ***//*** Start css of #_lp_block_29622506[data-block-layout='90651'] .lp-block-overlay ***/
#_lp_block_29622506[data-block-layout='90651'] .lp-block-overlay {
	background-attachment: scroll;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: rgba(68,68,68,0.05);
}
/*** End css of #_lp_block_29622506[data-block-layout='90651'] .lp-block-overlay ***//*** Start css of #_lp_block_29622506[data-block-layout='90651'] .lpc-prods-7__text ***/
#_lp_block_29622506[data-block-layout='90651'] .lpc-prods-7__text {
	color: rgba(19,18,18,0.7);
	font-size: 40px;
	text-align: center;
	text-align-last: center;
	font-weight: 400;
	text-decoration: none;
	line-height: 150%;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
/*** End css of #_lp_block_29622506[data-block-layout='90651'] .lpc-prods-7__text ***/
/*** Start css of #_lp_block_29622506[data-block-layout='90651'] .lpc-prods-7__content ***/
#_lp_block_29622506[data-block-layout='90651'] .lpc-prods-7__content {
	box-shadow: 0 0 25px 12px rgba(204,204,204,1);
}
/*** End css of #_lp_block_29622506[data-block-layout='90651'] .lpc-prods-7__content ***//*** Start css of #_lp_block_29648306[data-block-layout='90651'] .lp-block-bg ***/

#_lp_block_29648306[data-block-layout='90651'] .lp-block-bg {
	background-attachment: scroll;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: transparent;
}

/*** End css of #_lp_block_29648306[data-block-layout='90651'] .lp-block-bg ***/
/*** Start css of #_lp_block_29648306[data-block-layout='90651'] .lp-block-overlay ***/

#_lp_block_29648306[data-block-layout='90651'] .lp-block-overlay {
	background-attachment: scroll;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: rgba(68,68,68,0.05);
}

/*** End css of #_lp_block_29648306[data-block-layout='90651'] .lp-block-overlay ***/
/*** Start css of #_lp_block_29648306[data-block-layout='90651'] .lpc-prods-7__text ***/

#_lp_block_29648306[data-block-layout='90651'] .lpc-prods-7__text {
	color: rgba(19,18,18,0.7);
	font-size: 40px;
	text-align: center;
	text-align-last: center;
	font-weight: 400;
	text-decoration: none;
	line-height: 150%;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

/*** End css of #_lp_block_29648306[data-block-layout='90651'] .lpc-prods-7__text ***/
/*** Start css of #_lp_block_29648306[data-block-layout='90651'] .lpc-prods-7__content ***/

#_lp_block_29648306[data-block-layout='90651'] .lpc-prods-7__content {
	box-shadow: 0 0 25px 12px rgba(204,204,204,1);
}

/*** End css of #_lp_block_29648306[data-block-layout='90651'] .lpc-prods-7__content ***/